@inherits Custom.Hybrid.RazorTyped
@* FYI: this inherits from RazorTyped to use the latest APIs. Learn more on https://go.2sxc.org/cs-typed *@

@* A hint and help / guidance for the new developer *@
<div class="alert alert-secondary" @Kit.Toolbar.Default(MyItem)>
  This is a empty template app with a few tips to get you started. <br>
  You are seeing the <code>/Show Article.cshtml</code> Razor file since it's the first view in this App. <br>
  Click <a href="?getstarted=true">🆘</a> to see more tips on getting started.
</div>

<div @Kit.Toolbar.Default(MyItem)>

  <h1>@MyItem.Title</h1>
  <p>
    @MyItem.String("Subtitle")
  </p>

  @MyItem.Html("Contents")

</div>